#topo {
    background-color: #33d9d3;
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 30px;
}

#blog {
    font-family: sans-serif;
    padding: 50px;
    color: black;
}

#video {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

#rodape {
    background-color: #33d9d3;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#contato {
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    color: black;  
}
